body {
  background-color: #fff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.site-nav, .logo, .auth-nav, .modal, .input-form, .field.agree, .advantages h3, .advantages p, .section .name, .section .name .title, .work-list, .command .name, .command-list, .networks, .networks .network-item h3,
.networks .network-item p, .customers .name, .customers-list, .footer-links, .filters, .portfolio h1, .portfolio .title, .portfolio .text, .description {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav .item {
  position: relative;
  margin-right: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav:last-child {
  margin-right: 0px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover, .site-nav .link:focus {
  color: #2196f3;
  text-decoration: none;
}

.site-nav .link.current {
  color: #2196f3;
}

.site-nav .link.current::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  display: inline-block;
  background: #2196f3;
  border-radius: 2px;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-nav .logo {
  display: block;
  margin-right: 85px;
}

.logo-web {
  color: #2196f3;
}

.logo {
  color: #212121;
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth-nav .item + .item {
  margin-left: 30px;
}

.auth-nav .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .link:hover, .auth-nav .link:focus {
  color: #2196f3;
}

.icon-envelope,
.icon-phone {
  margin-right: 10px;
  fill: currentColor;
}

.hero-container {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.overlay {
  background-color: #757575;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/Header-img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Header-img.jpg);
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-name {
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 0px;
  text-align: center;
}

.button-web {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  outline: none;
  cursor: pointer;
  background-color: #2196f3;
  color: #fff;
  border: transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-web:focus, .button-web:hover {
  background-color: #fff;
  color: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.75);
          transform: translate(-50%, -50%) scale(0.75);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border: 4px;
  background-color: #fff;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  position: relative;
  padding: 40px;
  height: 581px;
}

.form-title {
  display: block;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

.field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 28px;
  /*outline: 1px solid green;*/
  width: 448px;
  height: 40px;
}

.input-form {
  width: 100%;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: #757575;
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  outline: none;
}

.input-form:focus {
  border-color: #2196f3;
}

.input-form:focus:focus ~ .form-name-icon {
  fill: #2196f3;
}

.label-form {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:focus + .label-form,
.input-form:not(:placeholder-shown) + .label-form {
  color: #2196f3;
  position: absolute;
  -webkit-transform: translate(-26px, -40px);
          transform: translate(-26px, -40px);
}

.form-name-icon {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 19px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: black;
}

.input-form:focus ~ .form-name-icon {
  fill: #2196f3;
}

.cross-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
  outline: none;
  cursor: pointer;
}

.cross-modal:hover .cross-icon,
.cross-modal:focus .cross-icon {
  fill: #2196f3;
}

.cross-icon {
  fill: black;
  background-size: cover;
  background-position: center;
}

.field-comment {
  position: relative;
  margin-bottom: 20px;
}

.field-comment .comment::-webkit-input-placeholder {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.field-comment .comment:-ms-input-placeholder {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.field-comment .comment::-ms-input-placeholder {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.field-comment .comment::placeholder {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.comment {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
}

.comment:focus, .comment:focus::-webkit-input-placeholder {
  border-color: #2196f3;
}

.comment:focus, .comment:focus:-ms-input-placeholder {
  border-color: #2196f3;
}

.comment:focus, .comment:focus::-ms-input-placeholder {
  border-color: #2196f3;
}

.comment:focus, .comment:focus::placeholder {
  border-color: #2196f3;
}

.comment:focus + .comment-title {
  color: #2196f3;
  position: absolute;
}

.field.agree {
  position: relative;
  display: block;
  text-align: center;
  height: 24px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.label-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input-checkbox {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

.checkbox-link {
  text-decoration: underline;
  color: #2196f3;
}

.checkbox-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 16px;
  height: 15px;
  fill: #fff;
  margin-right: 7px;
  outline: 1px solid black;
}

.input-checkbox:checked + .checkbox-icon {
  background-color: #2196f3;
  outline: #2196f3;
}

.button-modal {
  display: inline-block;
  margin-left: 125px;
  width: 200px;
  height: 50px;
  text-align: center;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: #2196f3;
  border-radius: 4px;
  color: #fff;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
}

.button-modal .button-modal:hover,
.button-modal .button-modal:focus {
  background-color: #fff;
  color: #2196f3;
  outline: none;
  cursor: pointer;
}

.sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  padding: 10px 28px 10px 29px;
  font-weight: 900;
  margin-top: 21px;
  fill: #fff;
}

.icon-send {
  margin-left: 10px;
}

.box {
  padding-top: 94px;
  padding-bottom: 93px;
}

.border {
  border-bottom: 1px solid #ECECEC;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages > .item {
  margin-right: 30px;
  width: 270px;
}

.advantages > .item:last-child {
  margin-right: 0px;
}

.advantages .link {
  display: block;
  margin-bottom: 30px;
  /*background: var(--background-advantages);*/
  border-radius: 4px;
  height: 120px;
}

.advantages .link::before {
  display: block;
  content: "";
  height: 120px;
  /*background-image: url(../images/group.svg);*/
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background: #f5f4fa;
}

.advantages h3 {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages p {
  font-size: 14px;
  line-height: 1.71;
}

.section .name {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.section .name .title {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work-list .link {
  display: block;
}

.work-list img {
  display: block;
  max-width: 100%;
  height: auto;
}

.work-list .item {
  margin-right: 30px;
  position: relative;
}

.work-list .item :last-child {
  margin-right: 0px;
}

.command {
  background-color: #f5f4fa;
}

.command .team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.command .name {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.command-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.command-list .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.command img {
  display: block;
}

.command .item {
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.command .item:not(:last-child) {
  margin-right: 30px;
}

.command .title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.command .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 28px;
}

.networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.networks .network-item {
  margin-right: 10px;
  margin-bottom: 24px;
}

.networks .network-item:last-child {
  margin-right: 0px;
}

.network-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  fill: #AFB1B8;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.network-link:hover, .network-link:focus {
  background-color: #2196f3;
  fill: #fff;
}

.customers .name {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.customers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.customers-list .item {
  margin-right: 30px;
}

.customers-list .item:last-child {
  margin-right: 0px;
}

.customers-list .link {
  display: block;
}

.customers-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: border;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-container:hover {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer {
  background: #2f303a;
  text-decoration: none;
  padding-top: 60px;
}

.footer .logo {
  display: block;
  color: #fff;
  margin-bottom: 20px;
}

.adress {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  margin-right: auto;
  margin-bottom: 28px;
}

.street {
  color: #fff;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.mail {
  display: block;
  margin-bottom: 9px;
}

.tel {
  display: block;
}

.slogan .join {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.71;
  margin-right: 94px;
  margin-bottom: 20px;
}

.slogan .text {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 20px;
}

.form-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-sign input {
  width: 358px;
  height: 50px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 20px;
  margin-right: 12px;
  padding: 15px 16px;
}

.info-adress {
  display: block;
  margin-right: 69px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  line-height: 2;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 21px;
}

.footer-links li {
  margin-right: 10px;
}

.footer-links li:last-child {
  margin-right: 0px;
}

.footer-links .network-link {
  fill: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-links .network-link:hover, .footer-links .network-link:focus {
  background-color: #2196f3;
}

.bottom-info {
  text-align: center;
  margin: 0px;
  padding-top: 18px;
  padding-bottom: 21px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.03em;
}

.main {
  padding-top: 94px;
  padding-bottom: 94px;
  border: 1px solid #ECECEC;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filters li:not(:last-child) {
  margin-right: 8px;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  border-style: none;
  background-color: #f5f4fa;
  cursor: pointer;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters .button:hover,
.filters .button:focus {
  background-color: #2196f3;
  color: #fff;
}

.filters .button.current {
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
}

.portfolio .title {
  color: #212121;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-position {
  position: relative;
  overflow: hidden;
}

.portfolio-info {
  margin: 20px 24px;
}

.portfolio .text {
  color: #757575;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.88;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.description {
  position: absolute;
  top: 0;
  display: block;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: opacity;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.flex-element:hover .description {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px;
}

.flex-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #EEEEEE;
}

.flex-element:hover, .flex-element:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.flex-element:nth-last-child(3n) {
  margin-right: 0px;
}

.flex-element:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*# sourceMappingURL=main.css.map */