.blocks {
    display: flex;
    justify-content: space-between;
    align-items: baseline;   
}
.footer {
    background:$background-footer;
    text-decoration: none;
    padding-top: 60px;

    & .logo {
        display: block;
        color:$white-color;
        margin-bottom: 20px;  
    }
  }
  .adress {
    color: $primary-text-color;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    margin-right: auto;
    margin-bottom: 28px;
  }
  .street {
    color: $white-color;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  .mail {
    display: block;
    margin-bottom: 9px;
  }
  
  .tel {
    display: block;
  }
  .slogan {
      & .join {
        color: $white-color;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 1.71;
        margin-right: 94px;
        margin-bottom: 20px;  
      }
      & .text {
        color: $white-color;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.71;
        margin-bottom: 20px;  
      }
  }
  .form-sign {
      @include centeredFlex ();

      & input {
        width: 358px;
        height: 50px;
        background-color: $background-footer;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        margin-top: 20px;
        margin-right: 12px;
        padding: 15px 16px;
      }
  }

  .info-adress {
    display: block;
    margin-right: 69px;
    color: $footer-color;
    font-size: 12px;
    line-height: 2;
  }

  .footer-links {
    @extend %list;
    display: flex;
    margin-top: 21px;

    & li {
        margin-right: 10px;
    }
    & li:last-child {
        margin-right: 0px;  
    }
  }

  .footer-links .network-link {
    fill: $white-color;
    background-color:rgba(255, 255, 255, 0.1);
    @include cubic (background-color);

      &:hover,
      &:focus {
        background-color: $accent-color;
    }
}

.bottom-info {
    text-align: center;
    margin: 0px;
    padding-top: 18px;
    padding-bottom: 21px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.03em;
  }  